<mat-card class="text-center" appearance="outlined">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  <mat-card-content class="p-4">
    <mat-card-title  class="mb-3"> İçim Laktozsuz Süt 1000 Ml</mat-card-title>
      <span class="fs-6 text-secondary text-decoration-line-through pe-3 fw-light">670.9 TL</span>
      <span  class="fs-5">429.9 TL</span>
    <mat-card-actions class="mt-5">
      <button mat-fab extended>
        <mat-icon>shopping_cart</mat-icon> SEPETE EKLE
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
