<footer class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="navbar-brand" routerLink="/">
         <h4>LOGO</h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam deleniti dolorem ducimus earum neque numquam</p>
      </div>
      <div class="col">
          <h4>Üyelik İşlemleri</h4>
          <ul class="navbar-nav">
            <li>
              <a routerLink="">Giriş Yap</a>
            </li>
            <li>
              <a routerLink="">Üye Ol</a>
            </li>
          </ul>
      </div>
      <div class="col">
        <h4>İşlem Rehberi</h4>
        <ul class="navbar-nav">
          <li>
            <a routerLink="">Sipariş Verme</a>
          </li>
          <li>
            <a routerLink="">Ödeme</a>
          </li>
          <li>
            <a routerLink="">Teslimat</a>
          </li>
          <li>
            <a routerLink="">İptal ve İade</a>
          </li>
          <li>
            <a routerLink="">Sipariş Erteleme</a>
          </li>
          <li>
            <a routerLink="">Fatura Bulucu</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h4>Müşteri Hizmetleri</h4>
        <ul class="navbar-nav">
          <li>
            <a routerLink="">Sizi Dinliyoruz</a>
          </li>
          <li>
            <a routerLink="">Mağazalarımız</a>
          </li>
          <li>
            <a routerLink="">Sıkça Sorulan Sorular</a>
          </li>
          <li>
            <a routerLink="">İletişim</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h4>Kişisel Verilerin Korunması</h4>
        <ul class="navbar-nav">
          <li>
            <a routerLink="">Çerez Aydınlatma Metni</a>
          </li>
          <li>
            <a routerLink="">Üye Aydınlatma Metni</a>
          </li>
          <li>
            <a routerLink="">Gizlilik İlkeleri</a>
          </li>
          <li>
            <a routerLink="">Kullanım Şartları</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
