<div class="container py-5">
  <div class="row justify-content-between">
    <mat-card class="col-lg-5">
      <mat-card-header>
        <mat-card-title class="mb-3">Bize Mesaj Atabilirsiniz</mat-card-title>
        <mat-card-subtitle>Siparişinizle ilgili herhangi bir sorun yaşamanız durumunda, bizimle iletişime geçmekten çekinmeyin. Sorununuzu çözmek için buradayız ve size en iyi şekilde yardımcı olmayı amaçlıyoruz. Lütfen yaşadığınız sorunu ayrıntılı bir şekilde açıklayan bir e-posta gönderin. Müşteri hizmetleri ekibimiz, en kısa sürede size geri dönüş yaparak çözüm sürecini başlatacaktır. Memnuniyetinizi önemsiyor ve her türlü geri bildiriminizi dikkate alıyoruz. Siparişlerinizin sorunsuz bir şekilde tamamlanması bizim için önceliklidir.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div class="col-lg-6">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">İsim Soyisim</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Mail Adresiniz</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Telefon Numaranız</label>
          <input type="number" class="form-control" id="phone">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Mesaj Yazınız</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
      </form>
    </div>
  </div>
</div>
