<mat-card class="card-detail card-body" appearance="outlined">
  <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  <mat-card-content>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Ürün adı</mat-card-title>
        <mat-card-subtitle>Ürün Puanı: 5.2</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-title-group class="justify-content-end">
        <mat-card-title><span class="fs-6 text-secondary text-decoration-line-through pe-3 fw-light">670.9 TL</span></mat-card-title>
        <mat-card-title> <span  class="fs-5">429.9 TL</span></mat-card-title>
      </mat-card-title-group>

    </mat-card-header>
    <p class="p-3">---ÜRÜN AÇIKLAMASI--- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolorum, ea eos et expedita id illum in libero magnam natus, necessitatibus nemo nihil optio possimus praesentium quis reiciendis temporibus veritatis?</p>
    <mat-card-actions class="mt-4">
      <button mat-fab extended>
        <mat-icon>shopping_cart</mat-icon> SEPETTEN ÇIKAR
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
