<div class="container py-5">
  <div class="row">
    <h2>Sepet</h2>
  </div>

  <div class="row d-flex ">
    <div *ngIf="cartItems.length > 0">

      <mat-card class="text-center"  *ngFor="let product of cartItems">
        <img mat-card-image [src]="product.images" [alt]="product.title" width="300" height="300">
        <mat-card-content>
          <mat-card-title class="mb-3 fs-6">
            <a [routerLink]='"/product-single/" + product.id'>{{ product.title }}</a>
          </mat-card-title>
          <p class="py-3">{{product.description}}</p>
          <div class="text-start">
            <span class="fs-6 text-secondary text-decoration-line-through pe-3 fw-light">{{ product.price}} TL</span>
            <span  class="fs-5">{{ product.discountPercentage }} TL</span>
          </div>
          <mat-card-actions class="mt-3">
            <button mat-fab extended (click)="removeItem(product.id)">Sepetten Çıkar</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

    </div>
  </div>


  <div *ngIf="cartItems.length === 0">
    <p>Sepetinizde ürün yok.</p>
  </div>
</div>
