<section class="searchInput">
  <div>
    <input [formControl]="inputControl" (focus)="onFocus()" (blur)="onBlur()" placeholder="Ürün ara..." />
  </div>

  <ng-container *ngIf="searchResults$ | async as searchResults">
      <mat-card *ngIf="isInputFocused && searchResults.length >= 1" class="">
        <mat-card-content>
          <div class="searchContent">
            <div *ngFor="let product of searchResults">
              <p>
                <span class="fs-5">{{ product.title }}</span> -
                <span class="fs-5">{{ product.discountPercentage }} TL</span>
              </p>
            </div>

            <mat-card-footer>
              <h3 class="mb-1 fs-4 fw-bold">Son Aramalar</h3>
              <ul>
                <li *ngFor="let search of recentSearches$ | async" (click)="onSearchClick(search)">
                  {{ search }}
                </li>
              </ul>
            </mat-card-footer>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
</section>
